

<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
  <tbody>
    {% for post in site.publications reversed %}
      {% if post.header.teaser %}
        {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
      {% else %}
        {% assign teaser = site.teaser %}
      {% endif %}
      {% if post.id %}
        {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
      {% else %}
        {% assign title = post.title %}
      {% endif %}
    <tr onmouseout="nightsight_stop()" onmouseover="nightsight_start()">
      <td style="padding:10px;width:20%;vertical-align:middle">
          <img src="{{ post.teaser }}" alt="N/A" style="border-style: none" width="220">
        </td>
        <td style="padding:10px;width:80%;vertical-align:middle">
          <p>
          <papertitle>{{ title }}
          </papertitle>
          </p>
          {% if post.authors %}
          {{ post.authors }}
          {% endif %}
          <br>
          <em>{{ post.venue }}</em>
          <br>
          {% if post.paperurl %}
          <a href="{{ post.paperurl }}">[paper]</a>
          {% endif %}
          {% if post.permalink %}
          <a href="{{ post.permalink }}">[webpage]</a>
          {% endif %}
          {% if post.code %}
          <a href="{{ post.code }}">[code]</a><br>
          {% endif %}      
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>